#backgroundAnime {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.anime-container {
  position: relative;
  transition: all ease 0.3s;
  opacity: 1;

  &.hide {
    opacity: 0;
  }
}