@font-face {
  font-family: "iconfont"; /* Project id 3231449 */
  src: url('iconfont.woff2?t=1646762889045') format('woff2'),
       url('iconfont.woff?t=1646762889045') format('woff'),
       url('iconfont.ttf?t=1646762889045') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-investment:before {
  content: "\e61e";
}

.icon-research:before {
  content: "\e62b";
}

.icon-software:before {
  content: "\e604";
}

.icon-advisory:before {
  content: "\e61f";
}

.icon-asset:before {
  content: "\e69e";
}

