$transition: all ease 0.35s;
$transitionContent: all ease 0.6s;

.page {
  min-height: 100%;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: auto;

  &.sm {
    max-width: 640px;
  }
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: #fff;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    background-color: transparent;
    transition: $transition;
    z-index: 98;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $transition;
    z-index: 99;

    .h1 {
      transition: $transition;
      position: relative;
      margin: 15px 0 10px;

      .logo-img {
        display: block;
        height: 150px;
        transition: $transition;

        path,
        polygon {
          fill: rgba($color: #fff, $alpha: 0.15);
          stroke: #fff;
          stroke-width: 2;
          stroke-miterlimit: 10;
          transition: $transition;
        }
      }

      .shadow {
        transition: $transition;
        font-size: 150px;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'akira_superbold';
        color: #fff;
        opacity: 0.15;
      }
    }
    .h2 {
      transition: $transition;
      font-size: 20px;
      font-family: 'akira_superbold';
    }
    .exp {
      transition: $transition;
      opacity: 1;
      text-align: right;
  
      button {
        font-family: 'akira_superbold';
        cursor: pointer;
        font-size: 30px;
        border: none;
        background-color: transparent;
        color: #fff;

        a {
          color: #fff;
        }
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .logoborder {
    position: absolute;
    top: 0;
    left: 100px;
    transform: translate(0, -8px);
    height: 8px;
    width: 165px;
    background-color: #ff102a;
    transition: $transition;
    z-index: 99;
  }

  .menu {
    transition: $transition;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 100px;
    padding: 20px 0;
    margin: 0;
    font-size: 20px;
    z-index: 99;

    li {
      display: inline-block;
      list-style: none;
      font-family: 'akira_superbold';
      margin: 0 20px;
      position: relative;

      .icon-arrow {
        margin-left: 10px;
      }

      a {
        color: #fff;
        cursor: pointer;
        text-decoration: none;

        &.active,
        &:hover {
          &>span {
            text-decoration: underline;
          }
        }
      }

      .active a {
        text-decoration: underline;
      }

      ul {
        display: none;
        padding: 0;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 20px 10px;
        background-color: rgba(0, 0, 0, 0.5);;

        li {
          display: block;
          margin: 5px 0;
          white-space: nowrap;
        }
      }
    }
    &>li:hover {
      ul {
        display: block;
      }
    }
  }

  &.exp {
    .back {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .logo {
      top: 0;
      left: 100px;
      transform: translate(0, 0);

      .h1 {
        margin: 0;
      }

      .logo-img {
        height: 40px;
        cursor: pointer;

        path,
        polygon {
          fill: #fff;
        }
      }

      .h2,
      .exp {
        opacity: 0;
        pointer-events: none;
      }
    }

    .logoborder {
      transform: translate(0, 0);
    }

    .menu {
      opacity: 1;
      pointer-events: all;
    }
  }

  .m-menu {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;

    svg {
      height: 50px;
      width: 50px;
    }

    .line {
      fill: none;
      stroke: #fff;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    &.opened {
      .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
    }
  }
}

#sidebar {
  position: absolute;
  bottom: 0;
  right: 100px;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: $transition;
  z-index: 99;

  .page-tag {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: #ff102a solid 6px;
  }

  &.exp {
    opacity: 1;
  }

  .h1 {
    font-family: 'akira_superbold';
    font-size: 80px;
  }
  .h2 {
    font-family: 'akira_bold';
    font-size: 14px;
  }
}

.page-content {
  position: absolute;
  width: calc(100% - 200px);
  height: 100%;
  right: 100px;
  top: 0;
  color: #fff;
  pointer-events: none;
  z-index: 2;

  // scrollbar
  .ScrollbarsCustom-Track {
    opacity: 0;
    pointer-events: none;
  }

  &.show {
    pointer-events: all;
  }

  .content-border {
    padding-top: 90px;
    padding-bottom: 125px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .content-container {
    width: 100%;
  }
}

footer {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #484b5c;
  font-size: 12px;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

// mid screen
@media screen and (min-width: 540px) and (max-width: 960px) {
  #header .menu {
    font-size: 16px;
  }
}

// mid screen
@media screen and (max-width: 540px) {
  @import './style.m.scss';
}
